body { margin-top: 0px;color: #000000; background: #A4FFEF; font-family:  Arial, Helvetica, Verdana, Sans; font-size: 10pt}
h1 {font-size: 15pt; font-style: bold; color: #000066;}
h2 {font-size: 12pt; font-style: bold; color: #000066;}
h3 {font-size: 12pt; font-style: bold; color: #000066;}
h4 {font-size: 11pt; font-style: bold; color: #000066;}
h5 {font-size: 11pt; font-style: bold; color: #000000;}
A:link { text-decoration: underline; color: #0033CC }
A:visited { text-decoration: underline }
A:hover { color: #F00000; text-decoration: underline }
A:active { text-decoration: underline }
td {  font-size: 12px }
.spacer { float:left; height:4px; }
div#pagebox1 {}
div#pagebox2 {
    width: 728px;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid #264D73;
    border-left: 1px solid #264D73;
    border-right: 1px solid #264D73;
}
div#pagecontent {
    padding: 0px 25px 40px 17px;
    text-align: justify;
}

div#pagenav {
    text-align: center;
    background: #F3F3F3;
    padding: 5px 5px 8px 5px;
    margin: 10px 17px 2px 17px;
}

.topnavtable {background: #336699;}
.topnav2 {background: #336699; font-family:  Verdana, Helvetica, Arial, Sans; font-size: 12px; color:#F5F5F5; font-weight: bold; text-decoration: none; line-height: 2; padding: 0px 0px 0px 4px;}
a.headerlink {color: #F5F5F5; text-decoration: none;}
a.headerlink:hover {color: #33ff33; text-decoration: none;}
a.headerlink:visited {color: #F5F5F5; text-decoration: none;}
a.headerlink:visited:hover {color: #33ff33; text-decoration: none;}
a.homelink {
    float: left;
    width: 110px;
    height: 14px;
    font-family: Arial, Tahoma, Sans;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #cccccc;
    color: #333333;
    margin: 0px 0px 0px 0px;
    padding: 3px 3px 2px 6px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #cccccc;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #cccccc;
}
a.homelink:hover {
    color: #333333;
    background-color: #9CBDDE;
    text-decoration: none;
}
a.homelink:visited {
    color: #333333;
    text-decoration: none;
}

a.topnav {
    float: left;
    width: 88px;
    height: 12px;
    font-family: Arial, Tahoma, Sans;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    background-color: #6E9ECF;
    color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 2px 3px 4px 6px;
    border-top: 1px solid #88B0D7;
    border-bottom: 1px solid #264D73;
    border-right: 1px solid #264D73;
}
a.topnav:visited {
    color: #000000;
    text-decoration: none;
}
a.topnav:hover {
    color: #000000;
    background-color: #9CBDDE;
    text-decoration: none;
}
.par1 {text-align:justify;}
.code1 { background: #EFEFEF; padding: 0.6em; font-family:  Verdana, Helvetica, Arial; font-size: 11px; color:#000000; font-weight: normal; text-decoration: none; line-height: 1.4 }
.codeinline {
    display: inline;
    background: #EFEFEF;
    font-family:  Verdana, Helvetica, Arial;
    font-size: 11px;
    color:#000000;
    font-weight: normal;
    text-decoration: none;
    line-height: 2.6em;
    padding: 0.5em;
}
.code2 { font-family: Verdana, Helvetica, Arial; font-size: 11px; color: #0000CC; font-weight: bold; text-decoration: none; line-height: 1.4 }
.code3 { font-family: Verdana, Helvetica, Arial; font-size: 11px; color: #000000; font-weight: bold; text-decoration: none; line-height: 1.4 }
.userinput { font-family: Verdana, Helvetica, Arial; font-size: 11px; color: #003761; font-weight: bold; text-decoration: none; line-height: 1.4 }

.bannertable {
    font-size: 10px;
    color: #000000;
    background-color: #FFFFFF;
    border-top-width: thin;
    border-top-style: solid;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.heading1 { background: #E4EAEF; font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif; color:#003300; text-decoration: none; line-height: 1 }
a.heading1 { background: #E4EAEF; font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif; color:#003300; text-decoration: none; line-height: 1 }
a.heading1:visited { background: #E4EAEF; font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif; color:#003300; text-decoration: none; line-height: 1 }
a.heading1:hover { background: #E4EAEF; font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif; color:#003300; text-decoration: none; line-height: 1 }
.h2tutorial { font-size: 11pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color:#003300; text-decoration: none; line-height: 1 }

div#tutnav { background: #F3F3F3; padding: 6px; text-align: center; font-size: 10px; }

.level3 {
    font-family:Arial, Tahoma;
    width:125;
    height:14;
    background-color:#DCE2E9;
    color:F8F8F8;
    font-size:9;
    text-transform: uppercase;
    line-height:14px;
    margin: 0px 0px 0px 0px;
    padding: 1px 2px 1px 3px;
    font-weight:bold;
    text-align:left;
    text-decoration:none;
    border-top-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #cccccc;
    border-right-color: 999999;
    border-bottom-color: 999999;
    border-left-color: #cccccc;
}
a.level3:hover {
    color:000000;
    background-color:9EAFC7;
    text-decoration:none;
}
.level3:link { color:003399; text-decoration: none; }
a.level3:active {
    color:ffffff;
    background-color:345C72;
    text-decoration:none;
    border-top-color: #000000;
    border-right-color: cccccc;
    border-bottom-color: cccccc;
    border-left-color: #000000;
}
.level3:visited { color:5B1DA9; text-decoration: none; }

ul {
    text-align: left;
}

div#footertext1 {background-color: #336699; text-align: center; color: #E6E6E6; font-size: 14px; padding: 5px,2px,2px,2px; margin: 0px,0px,0px,0px;}
div#footertext2 {background-color: #336699; text-align: center; color: #E6E6E6; font-size: 11px; padding: 2px 2px 5px 2px; margin: 0px 0px 0px 0px;}
a.footerlink {color: #E6E6E6; text-decoration: none;}
a.footerlink:hover {color: #33ff33; text-decoration: none;}
a.footerlink:visited {color: #E6E6E6; text-decoration: none;}
a.footerlink:visited:hover {color: #33ff33; text-decoration: none;}

div#adsense728 { background-color: #6699CC; padding: 0px,0px,0px,0px; }

.interlink {
    font-size: 10px;
    text-align: right;
    float: right;
    position: relative;
}
a.extlink { Title: "External Link"; }
a.extlink:hover { Title: "External Link"; }
a.extlink:visited:hover { Title: "External Link"; }
.extimg { margin: 0px 3px 0px 5px; }

.windowtop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #336699;
    margin: 5px 5px 0px 5px;
    padding: 4px 12px 4px 15px;
    width: 600px;
    font-weight: bold;
    border-top: 3px solid #999999;
    border-right: 3px solid #999999;
    border-bottom: none;
    border-left: 3px solid #999999;

}
.prompt {
    font-family: "Courier New", "Courier", "mono";
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
    margin: 5px 5px 25px 5px;
    padding: 10px 12px 10px 12px;
    width: 600px;
    border: 2px solid #666666;
}
